:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  font-size: 16px;
  color: #292929;
  font-weight: normal;
  font-style: normal;
  line-height: 1.19;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

button {
  border: none;
  background: transparent;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.welcome-section {
  background-color: #F5F5F5;
  padding-top: 30px;
  padding-bottom: 50px;
}
.welcome-section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.welcome-section__body {
  width: 45%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.welcome-section__title {
  margin-bottom: 20px;
}
.welcome-section__text {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 21px;
  line-height: 1.19;
  max-width: 340px;
  margin-bottom: 35px;
}
.welcome-section__button {
  margin-bottom: 70px;
}
.welcome-section__product-features {
  width: 120%;
}
.welcome-section::after {
  position: absolute;
  content: " ";
  display: block;
  width: 46px;
  height: 10px;
  background-color: #C4C4C4;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: -4px;
  right: 12%;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.menu {
  width: 640px;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 18px;
  line-height: 1.67;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__item {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.menu__item:hover {
  color: #E01F3D;
}

.contacts {
  font-style: normal;
  font-size: 18px;
  line-height: 1;
}
.contacts__phone {
  position: relative;
}
.contacts__phone::before {
  position: absolute;
  content: url("/beats-solo/images/icons/phone.png");
  display: block;
  width: 14px;
  height: 14px;
  left: -20px;
  top: 4px;
}

.product-avatar {
  width: 490px;
  height: 490px;
  border-radius: 50%;
}

.button {
  display: inline-block;
  padding: 21px 41px;
  font-weight: bold;
  line-height: 1.125;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: #E01F3D;
  color: #fff;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.button:hover {
  background-color: #CA1B36;
}

.product-features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-features__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.product-features__item::before {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
}
.product-features__item--noise::before {
  content: url("/beats-solo/images/icons/noise.png");
}
.product-features__item--charging::before {
  content: url("/beats-solo/images/icons/charging.png");
}
.product-features__item--plug::before {
  content: url("/beats-solo/images/icons/plug.png");
}
.product-features__text {
  margin-left: 48px;
}

.side-menu {
  position: fixed;
  right: 45px;
  top: 25%;
}
.side-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.side-menu__item:not(:last-of-type) {
  margin-bottom: 13px;
}
.side-menu__link {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #292929;
  opacity: 0.6;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.side-menu__link::before {
  position: absolute;
  left: -4px;
  top: -4px;
  content: " ";
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #E01F3D;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}
.side-menu__item:hover .side-menu__link {
  background-color: #E01F3D;
}
.side-menu__item:hover .side-menu__link::before {
  opacity: 1;
}
.side-menu__item--active .side-menu__link {
  background-color: #E01F3D;
}
.side-menu__item--active .side-menu__link::before {
  opacity: 1;
}

.section {
  position: relative;
}
.section__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 1.08;
  text-transform: uppercase;
}
.section__title--features {
  margin-bottom: 20px;
}
.section__title--reviews {
  margin-bottom: 32px;
}

.feature-section {
  padding: 100px 0 90px;
  text-align: center;
}
.feature-section__text {
  max-width: 55%;
  margin: 0 auto 60px;
  color: #666666;
}
.feature-section::after {
  position: absolute;
  content: "";
  display: block;
  width: 34.5px;
  height: 34px;
  background: url("/beats-solo/images/icons/feature-decor.png") center no-repeat;
  bottom: -17px;
  left: 4%;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.features__item {
  position: relative;
}
.features__item:not(:last-of-type)::after {
  content: " ";
  position: absolute;
  display: block;
  left: 260px;
  top: 53.5px;
  width: 67px;
  height: 21px;
  background: url("/beats-solo/images/icons/circles.png") center center no-repeat;
}

.feature__image {
  margin: 0 auto 24px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
}
.feature__budy {
  padding: 0 15px;
}
.feature__title {
  font-size: 24px;
  line-height: 1.17;
  font-weight: bold;
  margin-bottom: 7px;
}
.feature__text {
  max-width: 247px;
  color: #666666;
}
.feature--battery .feature__image {
  background: #F2F5F4 url("/beats-solo/images/icons/battery.png") center no-repeat;
}
.feature--sound .feature__image {
  background: #F2F5F4 url("/beats-solo/images/icons/sound.png") center no-repeat;
}
.feature--time .feature__image {
  background: #F2F5F4 url("/beats-solo/images/icons/time.png") center no-repeat;
}

.reviews-section {
  padding: 68px 0 64px;
  text-align: center;
}
.reviews-section::after {
  position: absolute;
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #868686;
  bottom: 0;
  left: 5%;
}

.reviews__card {
  position: relative;
  padding: 42px 110px 42px 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  background-color: #F8FAF9;
  margin-bottom: 15px;
  overflow: hidden;
}
.reviews__card::before {
  position: absolute;
  content: "";
  display: block;
  width: 83px;
  height: 83px;
  border-radius: 50%;
  top: -61px;
  left: calc(50% - 37px);
  background-color: #fff;
}
.reviews__user-avatar {
  margin-right: 40px;
}
.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.reviews__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 26px;
}
.reviews__text {
  margin-bottom: 38px;
  color: #666666;
}
.reviews__user-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
}
.reviews__picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__picker-item {
  margin-right: 6px;
}
.reviews__picker-item:hover {
  border: 4px solid #E01F3D;
}

.avatar {
  width: 254px;
  height: 263px;
}
.avatar-picker {
  width: 78px;
  height: 78px;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}
.avatar-picker__link {
  display: block;
}
.avatar-picker--active {
  border: 4px solid #E01F3D;
}
/*# sourceMappingURL=main.css.map */