$main-color: #292929;
$hover-text-color:#E01F3D;
$secondary-font: 'Alegreya Sans',
sans-serif;
$base_font-size: 16px;

:root {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Play", sans-serif;
  font-size: $base_font-size;
  color: $main-color;
  font-weight: normal;
  font-style: normal;
  line-height: 1.19;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background: transparent;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}


.container {
  width: 940px;
  margin: 0 auto;
}