@import "base";
@import "./blocks/welcome-section";
@import "./blocks/main-header";
@import "./blocks/menu";
@import "./blocks/contacts";
@import "./blocks/product-avatar";
@import "./blocks/button";
@import "./blocks/product-features";
@import "./blocks/side-menu";