@import "./helpers";
@import "./layout/fonts";
@import "./layout/normalize";
@import "./layout/base";
@import "./blocks/section";
@import "./blocks/welcome-section";
@import "./blocks/logo";
@import "./blocks/phone-number";
@import "./blocks/gamburger";
@import "./blocks/button-togle";
@import "./blocks/main-header";
@import "./blocks/menu";
@import "./blocks/contacts";
@import "./blocks/product-avatar";
@import "./blocks/button";
@import "./blocks/product-features";
@import "./blocks/product-feature";
@import "./blocks/side-menu";
@import "./blocks/advantages-section";
@import "./blocks/advantages";
@import "./blocks/advantage";
@import "./blocks/reviews-section";
@import "./blocks/avatar";
@import "./blocks/review-card";
@import "./blocks/reviews";
@import "./blocks/form-section";
@import "./blocks/form";
@import "./blocks/form-element";
@import "./blocks/form-control";
@import "./blocks/map-section";
@import "./blocks/map";
@import "./blocks/footer";
@import "./blocks/socials";