@import "./helpers";
@import "./layout/fonts";
@import "./layout/base";
@import "./blocks/section";
@import "./blocks/welcome-section";
@import "./blocks/logo";
@import "./blocks/phone-number";
@import "./blocks/gamburger";
@import "./blocks/button-togle";
@import "./blocks/main-header";
@import "./blocks/menu";
@import "./blocks/contacts";
@import "./blocks/product-avatar";
@import "./blocks/button";
@import "./blocks/product-features";
@import "./blocks/product-feature";
@import "./blocks/side-menu";
@import "./blocks/advantages-section";
@import "./blocks/advantages";
@import "./blocks/advantage";
@import "./blocks/products-section";
@import "./blocks/products-slider";
@import "./blocks/info-popup";
@import "./blocks/product-details";
@import "./blocks/product";
@import "./blocks/product-detail";
@import "./blocks/team-section";
@import "./blocks/team";
@import "./blocks/team__list";
@import "./blocks/team-member";
@import "./blocks/colors-section";
@import "./blocks/colors-wrapper";
@import "./blocks/colors";
@import "./blocks/color-item";
@import "./blocks/reviews-section";
@import "./blocks/avatar";
@import "./blocks/review-card";
@import "./blocks/reviews";
@import "./blocks/video-section";
@import "./blocks/video";
@import "./blocks/control-range";
@import "./blocks/duration";
@import "./blocks/sound";
@import "./blocks/form-section";
@import "./blocks/form";
@import "./blocks/form-element";
@import "./blocks/form-control";
@import "./blocks/map-section";
@import "./blocks/map";
@import "./blocks/footer";
@import "./blocks/socials";
@import "./adds/scroll-hidden";
@import "./blocks/menu-popup";
@import "./blocks/overlay";