.advantages-section {
  text-align: center;

  @include mq-small {
    padding-left: px2rem(8);
  }

  @include mq-small{
    padding-top: px2rem(38);
    padding-bottom: px2rem(54);
  }

  &__text {
    max-width: 55%;
    margin: 0 auto px2rem(62);
    color: $second-color;

    @include mq-medium {
      max-width: 70%;
      margin: 0 auto px2rem(52);
    }

    @include mq-small {
      max-width: 95%;
    }
  }

  &::after {
    z-index: 10;
    position: absolute;
    content: "";
    display: block;
    width: 34px;
    height: 34px;
    background: url("./images/icons/sprite.svg#triangel-vew") left 0px top -21px no-repeat;
    bottom: px2rem(-17);
    left: 10%;
  }
}