.color-item {
  display: flex;
}

.color-item__toggle {
  cursor: pointer;
  display: block;
  width: px2rem(102);

  @include mq-small {
    width: px2rem(90);
  }
}

.color-item__header {
  display: block;
  cursor: pointer;
  height: 100%;
  text-align: left;
  font-size: px2rem(36);
  line-height: 1.194;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: px2rem(30) px2rem(30) px2rem(34);

  @include mq-small {
    padding: px2rem(24) px2rem(30) px2rem(34);
  }
}

.color-item__toggle-text {
  display: flex;
  width: 0;
  transition: width 0.5s;
  overflow: hidden;
  background-color: rgba(51, 53, 55, 0.9);
  backdrop-filter: blur(10px);

  &--mobile {
    overflow: visible;
    z-index: 10;
    position: relative;

    .color-item__text {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background: rgba(51, 53, 55, 0.9);
      backdrop-filter: blur(10px);
      padding: px2rem(30);
      padding-top: px2rem(58);
      padding-right: 30%;
    }
  }
}

.color-item__text {
  width: px2rem(524);
  padding: px2rem(30) px2rem(54) 0 px2rem(38);
  line-height: 1.5;

}