.colors-section {
  // background: #000000 url('/beats-solo/images/colors/colors-bg.png') right center/cover no-repeat;

  @include mq-medium {
    min-height: auto;
  }

}

.colors-section__container {
  position: relative;
  background: #000000 url('/beats-solo/images/colors/colors-bg.png') right center/cover no-repeat;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  min-width: 100%;

  @include mq-medium {
    background-position-x: 86%;
  }
}