.control-range {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, $btn-bg-color 0%, $btn-bg-color 0%, #333333 0%);
  border-radius: 1px;
  outline: none;
}


.control-range:focus {
  outline: none;
}

.control-range::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

.control-range::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-top: 0px;
  background: $btn-bg-color;
  cursor: pointer;
}

.control-range::-moz-range-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: $btn-bg-color;
  background-clip: unset;
  border: none;
  cursor: pointer;

  @include mq-medium {
    width: px2rem(10.7);
    height: px2rem(10.7);
  }

  @include mq-small {
    width: px2rem(9);
    height: px2rem(9);
  }
}

.control-range::-ms-thumb {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: $btn-bg-color;
  cursor: pointer;
}