.form-section {
  padding: 0 px2rem(80);
  color: $form-text-color;
  min-height: px2rem(652);
  background: $bg-form-color url("/beats-solo/images/bg-form.png") left bottom/contain no-repeat;
  text-align: center;


  @include mq-small {
    padding: 0 px2rem(10);
  }
}