.main-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  margin-bottom: px2rem(50);

  @include mq-medium {
    padding: px2rem(26) 0;
    margin-bottom: px2rem(106);
  }

  @include mq-small {
    margin-bottom: px2rem(17);
  }

  &__menu {
    margin: 0 px2rem(5);
    @include mq-medium {
      display: none;
    }
  }

  &__phone {
    @include mq-medium {
      display: none;
    }
  }

  &__togle {
    display: none;
    
    @include mq-medium {
      display: block;
    }
  }
}