.section {
  position: relative;
  height: 100%;
  min-height: px2rem(652);

  @include mq-medium {
    // min-height: auto;
    height: 100%;
  }

  @include mq-small {
    height: 100%;
    min-height: auto;
  }

  &__title {
    font-weight: bold;
    font-size: px2rem(48);
    line-height: 1.08;
    text-transform: uppercase;

    @include mq-small {
      font-size: px2rem(32);
      line-height: 1.125;
    }

    &--welcome {
      margin-bottom: px2rem(22);

      @include mq-medium {
        margin-bottom: px2rem(12);
      }

      @include mq-small {
        margin-bottom: px2rem(14);
      }
    }

    &--features {
      margin-bottom: px2rem(20);

      @include mq-medium {
        margin-bottom: px2rem(11);
      }
    }

    &--team {
      margin-bottom: px2rem(54);

      @include mq-medium {
        margin-bottom: px2rem(34);
      }

      @include mq-small {
        margin-bottom: px2rem(36);
      }
    }

    &--colors {
      left: px2rem(80);
      top: px2rem(114);
      font-family: $main-font;
      position: absolute;
      color: $form-text-color;

      @include mq-medium {
        left: px2rem(35);
        top: px2rem(90);
      }

      @include mq-small {
        left: px2rem(10);
        top: px2rem(78);
      }
    }

    &--reviews {
      margin-bottom: px2rem(32);

      @include mq-small {
        margin-bottom: px2rem(26);
      }
    }

    &--video {
      margin-bottom: px2rem(44);
    }

    &--form {
      margin-bottom: px2rem(60);

      @include mq-medium {
        margin-bottom: px2rem(32);
      }

      @include mq-small {
        margin-bottom: px2rem(41);
      }
    }
  }
}