.socials {
  $this: &;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: px2rem(10);

    @include mq-small {
      margin-right: px2rem(14);
    }

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      #{$this}__link-icon {
        fill: $icon-hover-color;
      }
    }

    // @each $social in (vk, fb, insta, tel) {
    //   &--#{$social} {
    //     #{$this}__link {
    //       background: url('/beats-solo/images/icons/socials/#{$social}.png') center no-repeat;
    //     }
    //   }
    // }

  }

  &__link {
    display: block;
    width: px2rem(30);
    height: px2rem(30);
    line-height: px2rem(30);
    border-radius: 50%;

    @include mq-medium {
      width: px2rem(32);
      height: px2rem(32);
      line-height: px2rem(32);
    }

    @include mq-small {
      width: px2rem(24);
      height: px2rem(24);
      line-height: px2rem(24);
    }

    &-icon {
      width: px2rem(30);
      height: px2rem(30);
      fill: #B3B3B3;
      transition: 0.5s;

      @include mq-medium {
        width: px2rem(32);
        height: px2rem(32);
      }

      @include mq-small {
        width: px2rem(24);
        height: px2rem(24);
      }
    }
  }
}