.video {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: px2rem(662);
  height: px2rem(392);

  @include mq-medium {
    width: px2rem(594);
    height: px2rem(352);
  }

  @include mq-small {
    width: px2rem(394);
    height: px2rem(233);
  }
}

.video__player {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video__view {
  width: 100%;
  height: 100%;
}

.video__player-run {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include mq-medium {
    width: px2rem(67);
    height: px2rem(98);
  }

  @include mq-small {
    width: px2rem(45);
    height: px2rem(65);
  }

  &.play {
    opacity: 0;
  }
}

.video__player-icon {
  width: 100%;
  height: auto;
  fill: white;
}

.video__controls {
  background-color: #151515;
  display: flex;
  justify-content: space-between;
  padding: px2rem(10) px2rem(23) px2rem(10) px2rem(16);

  @include mq-medium {
    padding: px2rem(8) px2rem(20) px2rem(8) px2rem(15);
  }

  @include mq-small {
    padding: px2rem(6) px2rem(14) px2rem(6) px2rem(10);
  }
}