.advantages-section {
  text-align: center;

  @include mq-small {
    padding-left: px2rem(8);
  }

  @include mq-small{
    padding-top: px2rem(38);
    padding-bottom: px2rem(54);
    height: min-content;
  }

  &__text {
    max-width: 55%;
    margin: 0 auto px2rem(62);
    color: $second-color;

    @include mq-medium {
      max-width: 70%;
      margin: 0 auto px2rem(52);
    }

    @include mq-small {
      max-width: 95%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: px2rem(34.5);
    height: px2rem(34);
    background: url("/beats-solo/images/icons/feature-decor.png") center no-repeat;
    bottom: px2rem(-17);
    left: 10%;
  }
}