.advantages {
  display: flex;
  justify-content: center;

  &__item {
    flex: 1;
    position: relative;
    padding: 0 3%;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @include mq-medium {
      padding: 0;
    }

    @include mq-small {
      padding: 0;
      margin-bottom: 6%;
    }
  }

  &__item:not(:last-of-type)::after {
    content: " ";
    position: absolute;
    display: block;
    right: 0;
    top: px2rem(53.5);
    width: px2rem(67);
    height: px2rem(21);
    transform: translateX(50%);
    background: url("/beats-solo/images/icons/circles.png") center center no-repeat;

    @include mq-medium {
      display: none;
    }
  }

  @include mq-small {
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
}