.advantage {
  $this: &;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    position: relative;
    margin: 0 auto px2rem(24);
    width: px2rem(128);
    height: px2rem(128);
    background-color: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;

    @include mq-small{
      margin: 0;
      margin-right: px2rem(12);
    }
  }

  &__image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__body {
    padding: 0 px2rem(15);

    @include mq-medium{
      padding: 0;
    }
    @include mq-small{
      text-align: left;
      padding: 0;
      flex: 1;
    }
  }

  &__title {
    font-size: px2rem(24);
    line-height: 1.17;
    font-weight: bold;
    margin-bottom: px2rem(7);

    @include mq-medium{
      margin-bottom: px2rem(20);
    }
    @include mq-small{
      margin-bottom: px2rem(6);
    }
  }

  &__text {
    max-width: px2rem(250);
    margin: 0 auto;
    color: $second-color;

    @include mq-medium {
      max-width: px2rem(224);
    }
    @include mq-small {
      max-width: 92%;
      margin: 0;
    }
  }

  @include mq-small {
    flex-direction: row;
    align-items: center;
  }
}
