.advantages-section {
  padding: px2rem(100) 0 px2rem(90);
  text-align: center;

  @include mq-medium {
    padding: px2rem(282) 0 px2rem(256);
  }

  @include mq-small {
    padding: px2rem(38) 0 px2rem(54);
    min-height: px2rem(707);
  }

  &__text {
    max-width: 55%;
    margin: 0 auto px2rem(62);
    color: $second-color;

    @include mq-medium {
      max-width: 70%;
      margin: 0 auto px2rem(52);
    }

    @include mq-small {
      max-width: 100%;
    }
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: px2rem(34.5);
    height: px2rem(34);
    background: url("/beats-solo/images/icons/feature-decor.png") center no-repeat;
    bottom: px2rem(-17);
    left: 10%;
  }
}