.advantage {
  $this: &;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    position: relative;
    margin: 0 auto 24px;
    width: 128px;
    height: 128px;
    background-color: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__body {
    padding: 0 15px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.17;
    font-weight: bold;
    margin-bottom: 7px;
  }

  &__text {
    min-width: 250px;
    color: $second-color;
  }
}