.advantages-section {
  padding: px2rem(100) 0 px2rem(90);
  text-align: center;

  &__text {
    max-width: 55%;
    margin: 0 auto px2rem(60);
    color: $second-color;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: px2rem(34.5);
    height: px2rem(34);
    background: url("/beats-solo/images/icons/feature-decor.png") center no-repeat;
    bottom: px2rem(-17);
    left: 10%;
  }
}