.advantage {
  $this: &;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    position: relative;
    margin: 0 auto px2rem(24);
    width: px2rem(128);
    height: px2rem(128);
    background-color: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
  }

  &__image-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__body {
    padding: 0 px2rem(15);
  }

  &__title {
    font-size: px2rem(24);
    line-height: 1.17;
    font-weight: bold;
    margin-bottom: px2rem(7);
  }

  &__text {
    max-width: px2rem(250);
    color: $second-color;
  }
}