.avatar {
  width: 254px;
  height: 263px;

  &-picker {
    width: 78px;
    height: 78px;
    border: 4px solid transparent;
    border-radius: 50%;
    overflow: hidden;
    transition: border-color 0.5s;
    
    &__link{
      display: block;
    }

    &--active {
      border: 4px solid $hover-text-color;
    }
  }
}