.avatar {
  width: px2rem(254);
  height: px2rem(263);

  &-picker {
    width: px2rem(78);
    height: px2rem(78);
    border: px2rem(4) solid transparent;
    border-radius: 50%;
    overflow: hidden;
    transition: border-color 0.5s;

    @include mq-small {
      width: 64px;
      height: 64px;
    }

    &__link {
      display: block;
    }

    &--active {
      border: px2rem(4) solid $hover-text-color;
    }
  }
}