.button-togle {
  z-index: 100;
  cursor: pointer;
  position: fixed;
  top: 4%;
  right: 5%;

  &--cross {
    position: fixed;

    .gamburger__stripe {
      background-color: #ffffff;

      &:nth-last-of-type(2) {
        opacity: 0;
      }

      &:nth-last-of-type(1) {
        transform: translateY(-10px) rotate(45deg);
      }

      &:nth-last-of-type(3) {
        transform: translateY(10px) rotate(-45deg);
      }
    }
  }
}