$btn-bg-color: #E01F3D;
$btn-hover-bg-color: #CA1B36;
$btn-color: #fff;


.button {
  display: inline-block;
  // height: 55px;
  padding: 21px 41px;
  font-weight: bold;
  line-height: 1.125;
  text-transform: uppercase;
  border-radius: 100px;
  background-color: $btn-bg-color;
  color: $btn-color;
  transition: background-color 0.5s;

  &:hover{
    background-color: $btn-hover-bg-color;
  }
}