.button-togle {
  cursor: pointer;

  &--cross {
    position: absolute;

    @include mq-medium {
      top: 15%;
      right: 5%;
    }

    @include mq-small {
      top: 5%;
      right: 8%;
    }

    .gamburger__stripe {
      background-color: #ffffff;

      &:nth-last-of-type(2) {
        opacity: 0;
      }

      &:nth-last-of-type(1) {
        transform: translateY(-10px) rotate(45deg);
      }

      &:nth-last-of-type(3) {
        transform: translateY(10px) rotate(-45deg);
      }
    }
  }
}