.color-item {
  display: flex;
}

.color-item__toggle {
  cursor: pointer;
}

.color-item__header {
  height: 100%;
  text-align: left;
  font-size: px2rem(36);
  line-height: 1.194;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: px2rem(30) px2rem(30) px2rem(34);

  @include mq-small {
    padding: px2rem(24) px2rem(30) px2rem(34);
  }
}

.color-item__toggle-text {
  width: 0;
  transition: width 0.3s;
  overflow: hidden;
  background-color: rgba(51, 53, 55, 0.9);
  backdrop-filter: blur(10px);
}

.color-item__text {
  width: auto;
  display: flex;
  padding: px2rem(30) px2rem(54) 0 px2rem(38);
  line-height: 1.5;
}