.colors {
  flex: 1;
}

.colors__list {
  display: flex;
  justify-content: flex-end;
}

.colors__item {
  &:nth-of-type(1) .color-item__header {
    background-color: #999999;
  }

  &:nth-of-type(2) .color-item__header {
    background-color: #151515;
  }

  &:nth-of-type(3) .color-item__header {
    background-color: #E01F3C;
  }
}