.contacts {
  font-style: normal;
  font-size: 18px;
  line-height: 1;

  &__phone {
    position: relative;
    &::before {
      position: absolute;
      content: url("/solo-beats/images/icons/phone.png");
      display: block;
      width: 14px;
      height: 14px;
      left: -20px;
      top: 4px;
    }
  }
}