.feature {
  $this: &;

  &__image {
    margin: 0 auto 24px;
    width: 128px;
    height: 128px;
    border-radius: 50%;
  }

  &__budy {
    padding: 0 15px;
  }

  &__title {
    font-size: 24px;
    line-height: 1.17;
    font-weight: bold;
    margin-bottom: 7px;
  }

  &__text {
    max-width: 247px;
    color: $second-color;
  }

  @each $feature in (battery, sound, time) {
    &--#{$feature} {
      #{$this}__image {
        background: #F2F5F4 url('/beats-solo/images/icons/#{$feature}.png') center no-repeat;
      }
    }
  }
}