.footer {
  background-color: #fff;
  min-height: px2rem(86);
  padding-top: px2rem(20);

  &__container {
    max-width: 940px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}