.footer {
  background-color: #fff;
  min-height: 86px;
  padding-top: 20px;

  &__container {
    width: 940px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}