.form-element {
  text-align: left;

  &__text {
    margin-bottom: px2rem(6);
  }

  &__input {
    width: 100%;
    padding: px2rem(18) px2rem(12) px2rem(14);
    font-size: px2rem(14);
    line-height: 1.428;
    background-color: #fff;
    outline: none;
    border: px2rem(3) solid transparent;
    border-radius: px2rem(4);
    transition: border-color 0.5s;

    @include mq-medium {
      padding: px2rem(6) px2rem(10) px2rem(6);
    }

    &--textarea {
      resize: none;
      height: px2rem(150);

      @include mq-medium {
        height: px2rem(80);
      }
    }
  }

  &--active &__input,
  &:hover &__input {
    border: px2rem(3) solid $hover-text-color;
    outline: none;
  }
}