.form-control {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  $this: &;

  &__elem {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    margin-right: -1px;

    &:checked ~ #{$this}__visual::before {
      display: block;
    }
  }

  &__visual {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 10px;

    &::before {
      position: absolute;
      content: "";
      display: none;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background-color: $hover-text-color;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &--checkbox {
    #{$this}__visual {
      width: 24px;
      height: 24px;
      border-radius: 4px;
      &::before{
        background: url("/beats-solo/images/icons/check.png") center center no-repeat;
      }
    }
  }
}