.form {
  &__inner {
    display: flex;
  }

  &__column {
    flex: 1;

    &:first-of-type {
      margin-right: px2rem(18); 
    }
  }

  &__row {
    display: flex;
    margin-bottom: px2rem(12);

    &--controls {
      flex-wrap: wrap;
      padding-top: px2rem(22);
      padding-bottom: px2rem(10);
    }

    &--buttons {
      margin-top: px2rem(48);
    }
  }

  &__row-element {
    flex: 1;
    margin-right: px2rem(14);
  }

  &__row-element:last-of-type {
    margin-right: 0;
  }



  &__row--control {
    margin-right: px2rem(24);

    &:last-of-type {
      margin-right: 0;
    }
  }
}