.menu-popup {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #333537;
  font-size: px2rem(36);
  line-height: 2;
  color: #ffffff;

  &__list {
    @include mq-medium {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

  }


  &--active {
    display: flex;
    align-items: flex-start;
    padding-top: 17%;

    @include mq-small {
      padding-top: 27%;
    }
  }
}