.menu {
  position: relative;
  width: px2rem(640);
  font-family: $secondary-font;
  font-size: px2rem(18);
  line-height: 1.67;

    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      transition: color 0.5s;
    }

    &__item:hover {
      color: $hover-text-color;
    }

    &__link {
      white-space: nowrap;
    }
  }