.phone-number {
  display: flex;
  align-items: center;

  &__icon {
    width: px2rem(14);
    height: px2rem(14);
    margin-right: px2rem(6);
  }

  &__text {
    font-style: normal;
    font-size: px2rem(18);
        line-height: 1.17;
    }

    &:hover {
      color: $hover-text-color;
    }
  }