.products-slider {
  position: relative;
  margin-left: 2%;
  margin-right: -4%;

  @include mq-medium{
    margin-left: 0;
    margin-right: 0;
  }

  &__buttons {
    z-index: 10;
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    left: -5%;
    justify-content: space-between;

    @include mq-medium{
      top: 25%;
      right: 20%;
      left: 18%;
    }

    @include mq-small{
      top: 22%;
      right: 0;
      left: 0;
    }
  }

  &__btn {
    width: px2rem(15);
    height: px2rem(29);
    fill: transparent;
    stroke: black;
    stroke-width: 2;
    stroke-linecap: round;
    cursor: pointer;
  }
}