.product-details {
  display: flex;
  align-items: center;

  &__item {
    min-width: px2rem(104);
    margin-right: 20%;

    @include mq-medium {
      margin-right: px2rem(44);

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}