.reviews-section {
  @include mq-medium {
    padding: 0 px2rem(22);
  }

  @include mq-small {
    padding: 0 px2rem(10);
  }

  text-align: center;

  &::after {
    z-index: 20;
    position: absolute;
    content: "";
    display: block;
    width: px2rem(35);
    height: px2rem(35);
    border-radius: 50%;
    background-color: #868686;
    bottom: px2rem(-18);
    left: 12%;
  }
}