.reviews {
  &__card {
    position: relative;
    margin-bottom: px2rem(15);
    overflow: hidden;

    @include mq-medium {
      margin-bottom: px2rem(46);
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      width: px2rem(83);
      height: px2rem(83);
      border-radius: 50%;
      top: px2rem(-61);
      left: calc(50% - #{px2rem(33)});
      background-color: #fff;

      @include mq-small {
        display: none;
      }
    }
  }

  &__picker {
    display: flex;
    justify-content: center;

    &-item {
      margin-right: px2rem(6);

      &:hover {
        border: px2rem(4) solid $hover-text-color;
      }
    }
  }
}