.section {
  position: relative;
  height: 100vh;
  min-height: 652px;

  &__title {
    font-weight: bold;
    font-size: px2rem(48);
    line-height: 1.08;
    text-transform: uppercase;

    &--welcome {
      margin-bottom: px2rem(22);
    }
    &--features {
      margin-bottom: px2rem(20);
    }

    &--reviews {
      margin-bottom: px2rem(32);
    }

  }
}