.section {
  position: relative;
  height: 100vh;
  min-height: px2rem(652);

  @include mq-medium {
    height: 100vh;
    min-height: px2rem(1000);
  }

  &__title {
    font-weight: bold;
    font-size: px2rem(48);
    line-height: 1.08;
    text-transform: uppercase;

    &--welcome {
      margin-bottom: px2rem(22);

      @include mq-medium {
        margin-bottom: px2rem(5);
      }

      @include mq-small {
        font-size: px2rem(32);
        line-height: 1.125;
        margin-bottom: px2rem(14);
      }
    }

    &--features {
      margin-bottom: px2rem(20);

      @include mq-medium {
        margin-bottom: px2rem(11);
      }

      @include mq-small {
        font-size: px2rem(32);
        line-height: 1.125;
        margin-bottom: px2rem(11);
      }
    }

    &--reviews {
      margin-bottom: px2rem(32);
    }

  }
}