.section {
  position: relative;

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 1.08;
    text-transform: uppercase;

    &--features {
      margin-bottom: 20px;
    }
    &--reviews {
      margin-bottom: 32px;
    }

  }
}