.side-menu {
  position: fixed;
  right: 5%;
  top: px2rem(240);
  $this: &;

  @include mq-medium {
    display: none;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }


  &__item:not(:last-of-type) {
    margin-bottom: px2rem(6);
  }

  &__link {
    position: relative;
    display: block;
    width: px2rem(16);
    height: px2rem(16);
    border-radius: 50%;
    border: px2rem(5) solid transparent;
    background-color: $main-color;
    background-clip: content-box;
    opacity: 0.6;
    box-shadow: 0 0 0 1px rgba($color: #fff, $alpha: 0);
    transition: 0.5s;

  }

  &__item:hover #{$this}__link {
    background-color: $hover-text-color;
    box-shadow: 0 0 0 1px $hover-text-color;
  }


  &__item--active #{$this}__link {
    background-color: $hover-text-color;
    box-shadow: 0 0 0 1px $hover-text-color;
  }
}