.side-menu {
  position: absolute;
  right: 45px;
  top: 25%;
  $this: &;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
  }


  &__item {
    margin-bottom: 13px;
  }

  &__link {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $main-color;
    opacity: 0.6;
    transition: background-color 0.5s;

    &::before {
      position: absolute;
      left: -4px;
      top: -4px;
      content: " ";
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid $hover-text-color;
      transition: all 0.5s;
      opacity: 0;
    }
  }

  &__item:hover {
    #{$this}__link {
      background-color: $hover-text-color;
    }

    #{$this}__link::before {
      opacity: 1;
    }
  }


  &__item--active {
    #{$this}__link {
      background-color: $hover-text-color;
    }

    #{$this}__link::before {
      opacity: 1;
    }
  }

  &__item:last-child {
    margin-bottom: 0;
  }



}