.socials {
  $this: &;

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    margin-right: px2rem(10);

    @include mq-small{
      margin-right: px2rem(14);
    }

    &:last-of-type {
      margin-right: 0;
    }

    @each $social in (vk, fb, insta, tel) {
      &--#{$social} {
        #{$this}__link {
          background: url('/beats-solo/images/icons/socials/#{$social}.png') center no-repeat;
        }
      }
    }

  }

  &__link {
    position: relative;
    display: block;
    width: px2rem(30);
    height: px2rem(30);
    line-height: px2rem(30);
    border-radius: 50%;

    @include mq-medium {
      width: px2rem(32);
      height: px2rem(32);
      line-height: px2rem(32);
    }

    @include mq-small {
      width: px2rem(24);
      height: px2rem(24);
      line-height: px2rem(24);
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: px2rem(30);
      height: px2rem(30);

      @include mq-medium {
        width: px2rem(32);
        height: px2rem(32);
      }

      @include mq-small {
        width: px2rem(24);
        height: px2rem(24);
      }
    }
  }
}