.welcome-section {
  background-color: $bg-color-welcome;
  padding-top: px2rem(30);
  padding-bottom: px2rem(50);

  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__body {
    width: 45%;
    align-self: center;
    padding-bottom: px2rem(70);
  }

  &__text {
    font-family: $secondary-font;
    font-size: px2rem(21);
    line-height: 1.19;
    max-width: px2rem(340);
    margin-bottom: px2rem(35);
  }

  &::after {
    position: absolute;
    content: " ";
    display: block;
    width: px2rem(46);
    height: px2rem(10);
    background-color: #C4C4C4;
    transform: rotate(-45deg);
    bottom: px2rem(-4);
    right: 12%;
  }
}