$bg-color-welcome: #F5F5F5;
$welcome-font: 'Alegreya Sans',
sans-serif;

.welcome-section {
  position: relative;
  background-color: $bg-color-welcome;
  padding-top: 30px;
  padding-bottom: 50px;

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__body {
    width: 45%;
    align-self: center;
  }

  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 1.08;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__text {
    flex: 1;
    font-family: $secondary-font;
    font-size: 21px;
    line-height: 1.19;
    max-width: 340px;
    margin-bottom: 35px;
  }

  &__button {
    margin-bottom: 70px;
  }

  &::after {
    z-index: 1;
    position: absolute;
    content: " ";
    display: block;
    width: 46px;
    height: 10px;
    background-color: #C4C4C4;
    transform: rotate(-45deg);
    bottom: -4px;
    right: 12%;
  }
}